.background{
    -fx-background-color: #ffe6e6;
    
   
    
}
.btn{
     -fx-background-radius:5px; 
     -fx-background-color: #ccccff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
     -fx-effect : dropshadow(three-pass-box,rgba(0,0,0,0.1) , 10.0 , 0.0 , 0.0 , 10.0)

}
.btn:hover{
/*    -fx-background-color: #99ff99;*/
    -fx-background-color: #9886ff;
    -fx-cursor: hand;
}
.textFields{
/*     -fx-background-radius:18px; 
     -fx-background-color: #ffcccc;
    -fx-border-color: #cccccc;
    -fx-border-radius: 18px;*/

   -fx-border-color: #cccccc;
   -fx-border-width: 2px;

}
.comboBox{
       -fx-background-radius:5px; 
     -fx-background-color: #ccccff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
     -fx-effect : dropshadow(three-pass-box,rgba(0,0,0,0.1) , 10.0 , 0.0 , 0.0 , 10.0)
 
}